@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url("/assets/fonts/inter-ui/Inter-UI-Regular.woff2") format("woff2"),
    url("/assets/fonts/inter-ui/Inter-UI-Regular.woff") format("woff")
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-display: auto;
  font-weight: 400;
  src: url("/assets/fonts/inter-ui/Inter-UI-Italic.woff2") format("woff2"),
    url("/assets/fonts/inter-ui/Inter-UI-Italic.woff") format("woff")
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url("/assets/fonts/inter-ui/Inter-UI-Medium.woff2") format("woff2"),
    url("/assets/fonts/inter-ui/Inter-UI-Medium.woff") format("woff")
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-display: auto;
  font-weight: 600;
  src: url("/assets/fonts/inter-ui/Inter-UI-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/inter-ui/Inter-UI-MediumItalic.woff") format("woff")
}

@font-face {
  font-family: 'Inter UI';
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: url("/assets/fonts/inter-ui/Inter-UI-Bold.woff2") format("woff2"),
    url("/assets/fonts/inter-ui/Inter-UI-Bold.woff") format("woff")
}

@font-face {
  font-family: 'Inter UI';
  font-style: italic;
  font-display: auto;
  font-weight: 800;
  src: url("/assets/fonts/inter-ui/Inter-UI-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/inter-ui/Inter-UI-BoldItalic.woff") format("woff")
}

.react-auth * {
  font-family: "Inter UI", "Helvetica Neue", "Helvetica", "Roboto", "Segoe UI",
    "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
}
