.auth-tile {
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.15);
}

.auth-container {
  margin: 2em auto;
  width: 350px;
}

.auth-logo {
  width: 120px;
  height: 120px;
  display: block;
  position: relative;
  margin: 0 auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
  text-indent: -9999px;
  font-size: 0;
}

.auth-title {
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  .auth-container {
    margin: 1em auto;
    width: 300px;
  }
  .auth-logo {
    width: 80px;
    height: 80px;
  }
}

.auth-form-container {
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.auth-form-row {
  width: 100%;
}

.auth-form-title {
  font-size: 32px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}

.auth-form-description {
  font-size: 14px;
  color: #aaa;
  text-align: left;
  margin: 10px 0;
}

.auth-form-row,
.auth-form-submit {
  display: flex;
  flex-flow: row nowrap;
  margin: 7px auto;
}

.auth-form-row input,
.auth-form-submit input {
  border-radius: 4px;
  flex: 1 1 auto;
  padding: 5px;
  font-size: 20px;
}

.auth-form-submit input[type=submit] {
  cursor: pointer;
}

.auth-form-row input {
  flex: 1 1 auto;
  min-width: 0;
}

.auth-form-row input ~ input {
  margin-left: 10px;
}

.auth-form-submit input {
  margin-top: 10px;
  padding: 8px 10px;
}

.auth-form-link {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
}

.auth-form-link li {
  line-height: 1.5;
  margin-top: 5px;
}

.auth-form-link li a {
  color: dodgerblue;
  text-decoration: none;
}

.auth-form-link li a:hover {
  border-bottom: solid 1px dodgerblue;
}

@media (prefers-color-scheme: dark) {
  body.react-auth {
    background-color: #141414;
    color: #fff;
  }
  body.react-auth input,
  body.react-auth select,
  body.react-auth textarea {
    color: #fff;
  }
  .auth-tile {
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  .auth-form-row input {
    background-color: #444;
    border: solid 1px rgba(0, 0, 0, 0.15);
  }
  .auth-form-submit input {
    background-color: #666;
    border: solid 1px rgba(0, 0, 0, 0.5)
  }
  .auth-form-submit input:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }
}
@media (prefers-color-scheme: light) {
  body.react-auth {
    background-color: #fff;
    color: #000;
  }
  body.react-auth input,
  body.react-auth select,
  body.react-auth textarea {
    color: #000;
  }
  .auth-tile {
    background-color: #f4f4f4;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  }
  .auth-form-row input {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .auth-form-submit input {
    background-color: #e9e9e9;
    border: solid 1px rgba(0, 0, 0, 0.25)
  }
  .auth-form-submit input:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
  }
}

.react-auth * {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Segoe UI", "Nimbus Sans L",
  "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
  line-height: 1.54;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}
